:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #167BF7;
    --botão-azul: #167bf7;
    --cor-de-fundo: #00030C;
    --fonte_principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}